{% extends "layout.html" %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block menu %}
<div class="menu" style="font-size: 17px">

    <ul>
        <li>Công thức nấu ăn
            <ul>
                <li>{{ title }} 
                    <ul>
                        {% for item in congthucnauan%}
                        <li><a href="{{ item.link }}">{{ item.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </li>
</div>
{% endblock %}

{% block right%}
{{ super() }}

{% endblock %}

{% block body %}
{{ super() }}
{% endblock %}