{% extends "layout.html" %}

{% block title %}Mẹo vào bếp{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block menu %}
    {{ super() }}
{% endblock %}

{% block right%}
<div id = "right">
        <ul>
                {% for it in listmeovat %}
                <li>
                    <a href="{{ it.linkMeovat }}" style="font-size: 35px">
                        <h3>{{ it.Ten }}</h3>
                        
                    </a>
                    <p>{{ it.mota }}</p>
                </li>
                {% endfor %}
            </ul>
</div>
    
{% endblock %}
{% block body %}
    {{ super() }}
{% endblock %}